{% load mptt_tags %}
{% recursetree comments %}
    <hr>
    <p>
        {{ node.body }}
        &middot;
        <a href="{% url 'comment_reply_create' node.id %}">Reply</a>
    </p>
    <p><b>{% include "_includes/username.html" with user=node.user %}</b>, {{ node.created_at | date:'Y-m-d H:i:s e' }}</p>

    {% if not node.is_leaf_node %}
        <div class="columns">
            <div class="column is-11 is-offset-1">
                {{ children }}
            </div>
        </div>
    {% endif %}
{% endrecursetree %}
<hr>
