<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="notification is-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    {% for field in form %}
        <div class="field">
            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
            <div class="control">
                {{ field }}
                {% if field.errors %}
                    <p class="help is-danger">{{ field.errors }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="field">
        <div class="control">
            <input class="button is-link" type="submit" value="Submit">
        </div>
    </div>
</form>
