<nav class="navbar is-light" role="navigation" aria-label="main navigation" style="border-bottom:1px solid #f0f0f0">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item subtitle" href="{% url 'home' %}">
                <b>{{ SITE_NAME }}</b>
            </a>
        </div>

        <div class="navbar-menu is-active is-shadowless">
            <a class="navbar-item" href="{% url 'home' %}">
                Home
            </a>

            <a class="navbar-item" href="{% url 'room' 'meta' %}">
                Meta
            </a>

            {% if user.is_authenticated %}
                <div class="navbar-item">{% include '_includes/username.html' with user=user %}</div>
                {% if user.is_staff %}
                    <a class="navbar-item" href="{% url 'admin:index' %}">
                        Admin
                    </a>
                {% endif %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button" href="{% url 'auth_logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}{# user is not authenticated #}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link" href="{% url 'auth_login' %}">Login</a>
                        <a class="button is-primary" href="{% url 'auth_register' %}">Register</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
