<h4 class="is-size-4"><a href="{% url 'post_single' post.id %}">{{ post.title }}</a></h3>
<p>
    <a href="{% url 'room' post.room.slug %}">r/{{ post.room.slug }}</a>
    ·
    {% include "_includes/username.html" with user=post.user %}
</p>
<p>
    {{ post.created_at | date:'Y-m-d' }}
    ·
    Votes: {{ post.score }}
    ·
    Views: {{ post.view_count }}
</p>
<hr>
