<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ SITE_NAME }}{% endblock title %}</title>
    {% include '_includes/css.html' %}
</head>
<body>
    {% include '_includes/navbar.html' %}
    {% block content %}{% endblock content %}
</body>
</html>
