{% extends '_base.html' %}

{% block title %}Register - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column">
                    <h1 class="title">Register</h1>
                    <hr>
                    {% include '_includes/form.html' %}
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
{% endblock content %}
