{% extends '_base.html' %}

{% block title %}Login - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column">
                    <h1 class="title">Logout</h1>
                    <hr>
                    <h2 class="subtitle">Are you sure you want to log out?</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">Yes, log me out</button>
                            </div>
                            <div class="control">
                                <a href="{% url 'home' %}" class="button">No, get me out of here</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
{% endblock content %}
