{% extends '_base.html' %}

{% block title %}Reply to comment: {{ comment.post.title }} - {{ comment.post.room.name }} - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    <h1 class="title">Reply to comment</h1>
                    <h2 class="subtitle">
                        <a href="{% url 'room' comment.post.room.slug %}">r/{{ comment.post.room.slug }}</a>
                    </h2>
                    <div class="box">
                        <p><b>Post: <a href="{% url 'post_single' comment.post.id %}">{{ comment.post.title }}</a></b></p>
                        <p>
                            {{ comment.post.created_at | date:'Y-m-d H:i:s e' }}
                            &nbsp;&nbsp;
                            Votes: {{ comment.post.score }}
                            &nbsp;&nbsp;
                            Views: {{ comment.post.view_count }}
                        </p>

                        <div class="content">{{ comment.post.body_html|striptags }}</div>

                        <hr class="thick">

                        <p><b>Comment by {% include '_includes/username.html' with user=comment.user %}</b>, {{ comment.created_at | date:'Y-m-d H:i:s e' }}</p>
                        <p>{{ comment.body }}</p>

                        <div class="columns">
                            <div class="column is-11 is-offset-1">
                                <hr>
                                {% include "_includes/form.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
