{% extends '_base.html' %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <h1 class="title">{{ SITE_NAME }}</h1>
            <h2 class="subtitle">The anonymous forum that actually works.</h2>
            <hr class="thick">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">
                                Rooms
                            </p>
                            {% if rooms %}
                                <ul class="menu-list">
                                {% for room in rooms %}
                                    <li><a href="{% url 'room' room.slug %}">r/{{ room.slug }}</a></li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>No rooms are available.</p>
                            {% endif %}
                        </aside>
                    </div>
                </div>
                <div class="column">
                    {% if posts %}
                        {% for post in posts %}
                        {% include "_includes/post_summary.html" with post=post %}
                        {% endfor %}
                    {% else %}
                            <h4 class="is-size-4">No posts anywhere. Wtf?</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
