{% extends '_base.html' %}

{% block title %}Create a post in r/{{ room.slug }} - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <h1 class="title">Create a post</h1>
                    <p>
                        {{ SITE_NAME }} uses markdown for user-generated content. Try it out!
                    </p>
                    <hr>
                    {% include '_includes/form.html' %}
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
{% endblock content %}
