{% extends '_base.html' %}

{% block title %}{{ post.title }} - {{ post.room.name }} - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <h1 class="title is-size-2">{{ post.title }}</h1>
                    <h2 class="subtitle">
                        <a href="{% url 'room' post.room.slug %}">r/{{ post.room.slug }}</a>
                        ·
                        {% include "_includes/username.html" with user=post.user %}
                    </h2>
                    <div class="box">
                        <p>
                            {{ post.created_at | date:'Y-m-d H:i:s e' }}
                            &nbsp;&nbsp;
                            Votes: {{ post.score }}
                            &nbsp;&nbsp;
                            Views: {{ post.view_count }}
                        </p>
                        <hr>
                        <div class="content">{{ post.body_html | safe }}</div>
                    </div>

                    <div class="columns">
                        <div class="column is-1"></div>
                        <div id="comments" class="column">
                            <h3 class="is-size-5 has-text-weight-bold">Comments</h3>
                            <p>&nbsp;</p>

                            {% include "_includes/comments.html" %}

                            {% include "_includes/form.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
