{% extends '_base.html' %}

{% block title %}{{ room.name }} - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="section" id="content">
        <div class="container">
            <h1 class="title">{{ room.name }}</h1>
            <h2 class="subtitle">r/{{ room.slug }}</h2>
            <hr class="thick">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="box">
                        <a href="{% url 'post_create' room.slug %}" class="button is-primary">Write a post</a>
                        <hr>
                        <aside class="menu">
                            <p class="menu-label">
                                Sort
                            </p>
                            <ul class="menu-list">
                                <li><a href="{% url 'room' room.slug %}?sort=latest">Latest</a></li>
                                <li><a href="{% url 'room' room.slug %}?sort=votes">Votes</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="column">
                    {% if posts %}
                        {% for post in posts %}
                            {% include "_includes/post_summary.html" with post=post %}
                        {% endfor %}
                    {% else %}
                        <p>No posts are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
